header.site-header{    
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-container{
	display: flex;
	align-items: center;
	gap: 5%;
	.site-logo{
		> a{
			display: flex;
			/*width: 200px;*/

			img{
				max-width: 100%;
				height: 150px;
				width: auto;
			}
		}
	}
	.menu-container{
		flex: 1;
		.menu-main-container,
		.menu{
			li{
				a{
					position: relative;
					&:after{
						content: '';
						position: absolute;
						width: 100%;
						transition: max-width .2s ease;
						max-width: 0px;
						border: solid 2px $clr-red;
						opacity: 0;
						bottom: 0;
						left: 0;
					}
					&:hover{
						&:after{							
							width: 100%;
							transition: max-width .2s ease;
							max-width: 98%;
							opacity: 1;
						}
					}

				}
				&.current-menu-item{
					> a{
						color: $clr-red;
						&:after{
							content: '';
							position: absolute;
							transition: max-width .2s ease;
							border: solid 2px #fd0302;
							bottom: 0;
							left: 0;
							max-width: 98%;
							width: 98%;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.header-widget-container{		
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: 500;

		.wp-block-search__label{
			display: none;
		}

		.widget.widget_shopping_cart{
			position: relative;
			.widget_shopping_cart_content{
				position: absolute;
				background-color: #ccc;
				min-width: 300px;
				padding: 10px;
				right: 0;
				max-height: 0px;
				overflow: hidden;
				opacity: 0 !important;
				border-radius: 5px 0px 5px 5px;
			}
			&:hover{
				.widget_shopping_cart_content{
					max-height: 500px;
					overflow: auto;
					opacity: 1 !important;
				}
				
			}
		}
	}
}